@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Roboto&display=swap");
body {
  background-color: rgb(35, 39, 46);
}

h1 {
  font-family: "Nabla", cursive;
  font-size: 7vw;
}
.topnav {
  overflow: hidden;
  font-size: 7vw;
  display: flex;
}
.topnav a {

}

.topnav a:hover {
}
.topnav a.active-tab {
}

.topnav .icon {
  display: none;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

img {
  width: 33%;
  height: 100%;
  object-fit: cover;
  min-width: 400px;
  /* auto flex */
  max-width: 100%;
  flex-grow: 1;
  align-self: center;
}
