@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: white;
  color: black;
}

h1 {
}
.nav-container {
  width: 100%;
  height: 50px;
}
.topnav {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-start;
  position: relative;
  padding-top: 1%;
}
.topnav a {
}
.navigation {
  display: flex;
  column-gap: 40px;
  font-size: 30px;
  padding-left: 2%;
}
.navigation a {
  text-decoration: inherit;
  color: black;
  align-items: baseline;
}

.navigation a:hover {
  text-decoration: underline;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto;
  justify-content:center;
  grid-gap: 40px;
}

.image {
  max-width: 100%;
  height:auto;
  max-height: auto;
  margin: auto;
  
  -webkit-filter: brightness(100%);
}

.image:hover{
  -webkit-filter: brightness(60%);
  cursor: pointer;

}

h1 {
  font-weight: 400;
  padding-top: 10%;
  text-decoration: underline;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
}
.name {
  font-weight: 500;
  flex: 0 1 auto;
  left: 50%;
  font-size: 50px;
  position: absolute;
  transform: translateX(-50%);
}
