@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: white;
  color: black;
}

.topnav {
  display: grid;
  grid: auto / 1fr auto 1fr;
  align-items: center;
  text-decoration: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: white;
  padding: 20px 40px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.drop-menu {
  display: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

h1 {
  font-weight: 400;
  padding-top: 10%;
  text-decoration: underline;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
}

.name {
  font-weight: 500;
  font-size: 40px;
}

.navigation {
  display: flex;
  gap: 40px;
  font-size: 20px;
}

.navigation a {
  text-decoration: inherit;
  color: black;
  align-items: baseline;
}

.navigation a:hover {
  text-decoration: underline;
}
.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 1vw;
  padding: 0 20vw;
  margin: 200px 0 100px 0;
}

.gallery .image-container {
  display: flex;
}

.gallery .image {
  width: 100%;
  height: 100%;
  /* height: 100%; */
  -webkit-filter: brightness(100%);
}

.gallery .image:hover {
  -webkit-filter: brightness(60%);
  cursor: pointer;
}

.image-view::before {
  content: "";
  height: 10px;
}

.image-view .text {
  padding-top: 16px;
  font-size: 25px;
}

.image-view .image-container {
  padding-top: 3%;
  text-align: center;
}

.image-view .image {
  display: flex;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
  max-width: 90%;
  padding: 1%;
  padding-bottom: 5%;
}

.image-view .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 10px 0;
}

@media only screen and (max-width: 1300px) {
  .topnav {
    grid: auto / 1fr auto;
  }

  .image-view .image-container {
    margin: 40px 0 10px 0;
  }

  .gallery {
    grid-template-columns: auto auto;
    padding: 0 10vw;
  }
}

@media only screen and (max-width: 850px) {
  .gallery {
    grid-template-columns: auto auto;
    padding: 0 5vw;
    margin: 140px 0 50px 0;
  }

  .topnav {
    grid: auto / 1fr auto 1fr;
    padding: 20px;
  }

  .menu-icon {
    display: grid;
    text-align: right;
  }
  .drop-menu {
    position: fixed;
    z-index: 2;
    top: 83px;
    height: auto;
    width: 100%;
    background-color: white;
    display: none;
    grid: auto / 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: 10px;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  .drop-menu a {
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .drop-menu a img {
    max-height: 50px;
    padding: 8px;
  }

  .name {
    text-align: center;
    font-size: 35px;
  }
  .navigation {
  }

  .navigation a {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    grid-template-columns: auto;
    padding: 0 3vw;
    margin: 85px 0 50px 0;
  }
  .drop-menu {
    top: 68px;
  }

  .name {
    font-size: 23px;
  }
}

@keyframes dropdown {
  0% {
    top: 0;
  }
  100% {
    top: 68px;
  }
}
