@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: white;
  color: black;
}

.nav-container {
  width: 100%;
  height: 50px;
}
h2 {
  font-size: 50px;
}

.topnav {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  justify-content: flex-start;
  position: relative;
  padding-top: 1%;
}
.topnav a {
}
.navigation {
  display: flex;
  column-gap: 40px;
  font-size: 30px;
  padding-left: 2%;
}
.navigation a {
  text-decoration: inherit;
  color: black;
  align-items: baseline;
}

.navigation a:hover {
  text-decoration: underline;
}

.image-container {
  padding-top: 3%;
  padding-bottom: 7%;
  text-align: center;
}

.image {
  display: block;
  box-shadow: 9px 9px 9px rgb(108, 108, 108);
  margin-left: auto;
  margin-right: auto;
  width: 29%;
}

h1 {
  font-weight: 400;
  padding-top: 10%;
  text-decoration: underline;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
}
.name {
  font-weight: 500;
  flex: 0 1 auto;
  left: 50%;
  font-size: 50px;
  position: absolute;
  transform: translateX(-50%);
}

.image-container {
  display: grid;
}
.myButton {
  background-color: white;
  border-radius: 15px;
  border: 3px solid #000000;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-size: 20px;
  padding: 9px 35px;
  text-decoration: none;
  position: relative;
  top: 200px;
  left: 300px;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
  background-color: #ffffff;
  transform: scale(1.01);
}
.myButton:active {
  top: 1px;
}
