@import url("https://fonts.googleapis.com/css2?family=Nabla&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(42, 42, 42);
}

h1 {
}

.topnav {
  overflow: hidden;
  font-size: 2vw;
  background-color: rgb(37, 37, 37);
}
.topnav a {
  float: left;
  padding: 1.5vw;
  color: white;
  text-decoration: none;
}

.topnav a:hover {
  background-color: rgb(76, 76, 76);
  color: white;
}
.topnav a.active-tab {
}

.topnav .icon {
  display: none;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image {
  width: 33%;
  object-fit: cover;
  min-width: 300px;
  /* auto flex */
  max-width: 100%;
  flex-grow: 1;
  align-self: center;
}
h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  color: white;
}
